
.associations_row {
    margin:0 50px 100px 50px;

}

.associations_wrapper {

    max-width: 500px;
    position: relative;

}

.associations_title {

    background-color: black;
    border: 1px solid black;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 auto;
    text-align: center;

}

.associations_content {

    background-image: url('../img/event_img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
}

.associations_content:before {

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);

}

.associations_description {

    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;

}

.associations_content_link {

    right: 0px;
    bottom: 0px;
    position: absolute;
    color: white;
    padding: 10px;
    cursor: pointer;
    background-color: green;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: bold;

}

.associations_content_link:hover {
    background-color: black;
    border: 1px solid transparent;
    transition: 0.3s;
}
