
nav{

  background-color: black;
  height: auto;
  padding: 20px;
  position: relative;
  z-index: 10000;

}

.nav-menu li{

  color: white !important;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;


}

.nav-menu li a{

  color: white !important;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-menu li a:hover{

color: inherit !important;
text-decoration: none !important;
transform: translateX(5px);
transition: 0.3s;
}

.connect_button{

    background-color: black;
    border: 1px solid black;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    margin: 0 auto;
    cursor: pointer;
    text-align: right;




}
